# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables d'environnement
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.tmp

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temp
temp/
tmp/
*.tmp

# Fichiers de build
dist/
build/
*.min.js
